.header {
    padding: 0;

    &.gradient {
        position: relative;
        background: rgb(9,214,112);
        background: -moz-linear-gradient(150deg, rgba(9,214,112,1) 0%, rgba(0,212,255,1) 100%);
        background: -webkit-linear-gradient(150deg, rgba(9,214,112,1) 0%, rgba(0,212,255,1) 100%);
        background: linear-gradient(150deg, rgba(9,214,112,1) 0%, rgba(0,212,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09d670",endColorstr="#00d4ff",GradientType=1);

        img {
            opacity: 0.3;
        }

    }

    &__home,
    &__about {
        max-height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

        @media(max-width: 992px) {
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        @media(max-width: 576px) {
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        }

        .container {
            padding-top: 20vh;
            padding-bottom: 20vh;
            color: white;
            z-index: 9999999;

            @media(max-width: 992px) {
                padding-top: 12vh;
                padding-bottom: 15vh;
            }

        }

    }

}