.navigation {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: white;

    &:after {
        position: absolute;
        bottom: -5px;
        width: 100vw;
        height: 5px;
        content: '';
        z-index: 99999999;
        background: rgb(9,214,112);
        background: -moz-linear-gradient(90deg, rgba(9,214,112,1) 0%, rgba(0,212,255,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(9,214,112,1) 0%, rgba(0,212,255,1) 100%);
        background: linear-gradient(90deg, rgba(9,214,112,1) 0%, rgba(0,212,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09d670",endColorstr="#00d4ff",GradientType=1);
    }

    .container { 
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        padding: 20px 0;

        @media(max-width: 992px) {
            padding: 15px 0;
        }
        
        object,
        svg,
        img {
            max-width: 220px;
            width: 100%;

            @media(max-width: 992px) {
                max-width: 200px;
            }

        }

    }

    .menu-mobile {
        border: none;
        appearance: none;
        outline: 0;
        background-color: transparent;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer;
        display: none;
        padding: 0;

        @media(max-width: 992px) {
            display: block;
        }

        i {
            font-size: 24px;
        }

        i,
        i:before {
            background: -webkit-linear-gradient(150deg, $color-tertiary, $color-ocean);
            background: linear-gradient(150deg, $color-tertiary, $color-ocean);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        span {
            font-size: 18px;
            font-weight: 700;
            color: $color-tertiary;
            line-height: 1;
            vertical-align: 2px;
            margin: 0 0 0 5px;
        }

    }

    &__menu {

        ul {
            display: flex;
            flex-wrap: nowrap;
            position: relative;

            @media(max-width: 992px) {
                display: none;
            }

            li {
                padding: 20px;
                
                a {
                    font-size: 17px;
                    font-weight: 600;
                    color: $color-darker;

                    &:hover {
                        color: $color-tertiary;
                        text-decoration: none;
                    }

                }

            }

        }

    }

}